<div id="expense-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">

				<h4 class="modal-title"><%= title %></h4>
			</div>
			<%= form_for @expense, remote: true do |f| %>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row form-group">
						<div class="col-sm-6">
							<%= f.label "Type" %><br>
							<%= f.select :type_expense,  options_for_select(Expense.type_expenses.map {|k, v| [k, k]}) , {}, {class: "form-control col-sm-6"} %>
						</div>
						<div class="col-sm-6">
							<%= f.label :date %><br>
							<%= f.date_field :date, value: Date.current.strftime('%Y-%m-%d'), class: "form-control"%>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-12">
							<%= f.label :concept %><br>
							<%= f.text_field :concept, class: "form-control", placeholder: "Concepto" %>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-6">
							<%= f.label :category_id %><br>
							<%= f.collection_select :category_id, Category.all, :id, :category, {}, {class: "form-control"} %>
						</div>
						<div class="col-sm-6">	
							<%= f.label "Amount" %><br>
							<%= f.number_field :value, class: "form-control", placeholder: "0" %>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<div class="form-group">
					<%= link_to("Cancel", expenses_path, html_options: {"data-dismiss" => "modal", "aria-hidden" => "true"}, class: "btn btn-success" ) %>
					<%= f.submit title, class: "btn btn-primary" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>