<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
			<div class="list-group filter-type">
				<a href="#" class="list-group-item"><%= Time.zone %></a>
				<a href="#" class="list-group-item"><%= DateTime.now.beginning_of_day%></a>
				<!-- more transaction types -->
			</div>

			<h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
			<div class="list-group filter-type">
				<a href="#" class="list-group-item">Restaurants</a>
				<a href="#" class="list-group-item">Car</a>
				<!-- more categories  -->
			</div>
		</div>
		<div class="col-md-9 index-data">
			<div class="row" style="margin-top: 10px;">
				<div class="summary-box col-md-4 text-center">
					<div class="summary-value"><%= number_to_currency(@expenses.sum(:value), precision: 2) %></div>
					<div class="summary-label">Total</div>
				</div>
				<div class="summary-box col-md-4 text-center">
					<div class="summary-value"><%= @expenses.count%></div>
					<div class="summary-label">Transactions</div>
				</div>
				<div class="summary-box col-md-4 text-center">
					<div class="summary-value"><%=  number_to_currency(@expenses.average(:value), precision: 2) %></div>
					<div class="summary-label">Average</div>
				</div>
			</div>

			<div class="row" style="margin-top: 20px;">
				<div class="col-md-12">
					<%= link_to "<span class='glyphicon glyphicon-plus'> New Expense</span>".html_safe, new_expense_path, remote: true, class: "btn btn-success pull-left" %>
					<h4 class="dropdown pull-right">
						<button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">April 2016 <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><a href="#">April 2016</a></li>
							<li role="presentation"><a href="#">March 2016</a></li>
							<!-- more months -->
						</ul>
					</h4>
				</div>
			</div>

			<table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
				<thead>
					<tr>
						<th class="text-center">Día</th>
						<th>Concepto</th>
						<th class="text-right">Categoría</th>
						<th class="text-right">Valor</th>
					</tr>
				</thead>
				<tbody>
					<% @expenses.each do |expense| %>
						<%= render "row", expense: expense %>
					<% end %> 

				</tbody>
			</table>
		</div>
	</div>
</div>



