<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
			<div class="list-group filter-type">
				<% Expense.type_expenses.each do |tipo|  %>
				<%= link_to tipo[0], expenses_path(tipo: tipo[1]), remote: true, method: :get %>
				<!-- more transaction types -->
				<% end %>
			</div>
			<h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
			<div class="list-group filter-type">
				<% @categories.each do |category| %>
				<%= render "category", category: category %>
				<% end %> 
			</div>	
					
		</div>
		<div class="col-md-9 index-data">
			<div class="row" style="margin-top: 10px;" id="operations" >
					<%= render "operations" %>
			</div>

			<div class="row" style="margin-top: 20px;">
				<div class="col-md-12">
					<%= link_to "<span class='glyphicon glyphicon-plus'> New Expense</span>".html_safe, new_expense_path, remote: true, class: "btn btn-success pull-left" %>

					<h4 class="dropdown pull-right">
						<button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
							<% if params[:month].present? %>
							<%= Date.new( params[:year].to_i ,params[:month].to_i).strftime("%b %Y") %>
							<% else %>
							<%= Date.today.strftime("%b %Y") %>
							<% end %>
							<span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							<% (0..11).each do |m| %>
							<% date = Date.today.prev_month(m) %>
							<li role="presentation"><%= link_to date.strftime("%b %Y") , expenses_path(month: date.month ,year: date.year ) %></li>
							<% end %>
							<!-- more months -->
						</ul>
					</h4>
				</div>
			</div>

			<table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
				<thead>
					<tr>
						<th class="text-center">Día</th>
						<th>Concepto</th>
						<th class="text-right">Categoría</th>
						<th class="text-right">Valor</th>
					</tr>
				</thead>
				<tbody>

					<%= render @expenses %>


				</tbody>
			</table>
		</div>
	</div>
</div>



